---
import moment from "moment";
import Chip from "./Chip.astro";
interface Props {
  coverImage: { url: string };
  title: string;
  brief: string;
  publishedAt: string;
  slug: string;
}

const { coverImage, title, brief, publishedAt, slug } = Astro.props;
---

<div class="flex flex-col">
  <div class="card-image-wrapper">
    <a
      href={`https://nemanjamanojlovic.com/${slug}`}
      target="_blank"
      class="image-anchor"
    >
      <img src={coverImage.url} alt={title} class="bg-cover rounded-3xl" />
    </a>
  </div>
  <div class="flex flex-col items-start gap-2.5 mt-6">
    <Chip type="tertiary">{slug}</Chip>
    <h3
      class="text-2xl leading-8 font-bold text-skin-base dark:text-skin-base-dark"
    >
      {title}
    </h3>
    <p class="text-base leading-6 text-skin-muted dark:text-skin-muted-dark">
      {brief}
    </p>
  </div>
</div>
