---
import Icon, { type Props as IconProps } from "./Icon.astro";
import ThemeToggle from "./ThemeToggle.astro";

/** Main menu items */
const textLinks: { label: string; href: string }[] = [
  { label: "Home", href: `${import.meta.env.BASE_URL}` },
  { label: "Work", href: `${import.meta.env.BASE_URL}work/` },
  { label: "About", href: `${import.meta.env.BASE_URL}about/` },
];

/** Icon links to social media — edit these with links to your profiles! */
const iconLinks: { label: string; href: string; icon: IconProps["icon"] }[] = [
  {
    label: "GitHub",
    href: "https://github.com/Manojlovic1998",
    icon: "github-logo",
  },
  {
    label: "CodePen",
    href: "https://codepen.io/nemanja-manojlovic",
    icon: "codepen-logo",
  },
  {
    label: "dribbble",
    href: "https://dribbble.com/Manojlovic1998",
    icon: "dribbble-logo",
  },
];
---

<nav
  class="w-full md:max-w-[1616px] flex justify-between items-center md:mt-7 md:mb-7 md:px-4 z-10"
>
  <div class="menu-header w-full md:w-fit flex content-between p-6 md:p-0">
    <a
      href={`${import.meta.env.BASE_URL}`}
      class="flex gap-2 justify-center items-center text-2xl text-skin-base dark:text-skin-base-dark z-20"
    >
      <Icon icon="nlogo" size="41px" className="rounded-lg" />
      <span class="hidden lg:inline font-medium text-xl">Nemanja Manojlovic</span>
    </a>
    <menu-button class="ml-auto relative flex">
      <template>
        <button
          class="menu-button z-20 text-burger-light dark:text-burger-dark px-3 py-3 rounded-2xl border dark:border-navigation-primary-dark/[16%] dark:bg-navigation-primary-dark/[8%]"
          aria-expanded="false"
        >
          <span class="sr-only">Menu</span>
          <Icon
            icon="list"
            size="1.75rem"
            color="stroke-nav-icon-primary dark:stroke-nav-icon-primary-dark"
          />
        </button>
      </template>
    </menu-button>
  </div>
  <div
    id="menu-content"
    class="absolute right-0 w-full md:contents backdrop-blur-sm md:backdrop-blur-none rounded-bl-2xl rounded-br-2xl md:rounded-none overflow-hidden border md:border-navigation-primary dark:border-navigation-primary-dark/[16%] md:border-none top-0"
  >
    <ul
      class="flex flex-col justify-center gap-6 md:flex-row bg-navigation-primary md:bg-navigation-primary/50 dark:bg-navigation-primary-dark md:border md:rounded-2xl border-navigation-primary dark:border-navigation-primary-dark/[16%] flex-grow md:max-w-[392px] md:backdrop-blur-sm md:shadow-navigation dark:shadow-none px-5 md:px-0 pb-6 pt-[6.5rem] md:py-2.5"
    >
      {
        textLinks.map(({ label, href }) => (
          <li>
            <a
              aria-current={Astro.url.pathname === href}
              class:list={[
                "md:flex px-2 md:px-2.5 py-1.5 text-2xl md:text-xl rounded-lg text-skin-base dark:text-skin-base-dark font-bold hover:bg-nav-link-active/[6%] text-skin-base",
                {
                  "bg-nav-link-active text-skin-inverted hover:hover:bg-nav-link-active":
                    Astro.url.pathname === href ||
                    (href !== import.meta.env.BASE_URL &&
                      Astro.url.pathname.startsWith(href)),
                },
              ]}
              href={href}
            >
              {label}
            </a>
          </li>
        ))
      }
    </ul>
    <div
      class="flex flex-row items-center gap-x-5 w-full md:max-w-fit lg:max-w-[225px] bg-navigation-primary md:bg-navigation-primary/50 dark:bg-navigation-primary-dark border-t md:border md:rounded-full md:border-navigation-primary dark:border-navigation-primary-dark/[16%] md:backdrop-blur-sm md:shadow-navigation dark:shadow-none px-7 pt-6 pb-7 md:px-3 md:py-1 h-fit"
    >
      <div class="flex flex-row gap-x-5 md:hidden lg:flex">
        {
          iconLinks.map(({ href, icon, label }) => (
            <a
              href={href}
              target="_blank"
              class="border border-navigation-muted dark:border-navigation-primary-dark/[16%] text-skin-base dark:text-skin-base-dark rounded-full h-fit"
            >
              <span class="sr-only">{label}</span>
              <Icon
                icon={icon}
                size="1.25rem"
                color="stroke-nav-icon-primary dark:stroke-nav-icon-primary-dark"
              />
            </a>
          ))
        }
      </div>

      <div class="theme-toggle">
        <ThemeToggle />
      </div>
    </div>
  </div>
</nav>

<script>
  class MenuButton extends HTMLElement {
    constructor() {
      super();

      // Inject menu toggle button when JS runs.
      this.appendChild(this.querySelector("template")!.content.cloneNode(true));
      const btn = this.querySelector("button")!;

      // Hide menu (shown by default to support no-JS browsers).
      const menu = document.getElementById("menu-content")!;
      menu.hidden = true;

      /** Set whether the menu is currently expanded or collapsed. */
      const setExpanded = (expand: boolean) => {
        btn.setAttribute("aria-expanded", expand ? "true" : "false");
        menu.hidden = !expand;
      };

      // Toggle menu visibility when the menu button is clicked.
      btn.addEventListener("click", () => setExpanded(menu.hidden));

      // Hide menu button for large screens.
      const handleViewports = (e: MediaQueryList | MediaQueryListEvent) => {
        setExpanded(e.matches);
        btn.hidden = e.matches;
      };
      const mediaQueries = window.matchMedia("(min-width: 768px)");
      handleViewports(mediaQueries);
      mediaQueries.addEventListener("change", handleViewports);
    }
  }
  customElements.define("menu-button", MenuButton);
</script>