---
import type { CollectionEntry } from "astro:content";
import Chip from "./Chip.astro";

interface Props {
  project: CollectionEntry<"work">;
}

const { data, slug } = Astro.props.project;
---

<a
  class="relative shadow-card-primary dark:shadow-none rounded-lg grow flex justify-center items-center"
  href={`${import.meta.env.BASE_URL}work/${slug}`}
>
  <Chip className="absolute left-3.5 top-4 text-sm" type="primary-outline">
    {data.title}
  </Chip>
  {
    data.img_preview && (
      <img
        src={`${import.meta.env.BASE_URL}${data.img_preview}`}
        alt={data.img_alt || ""}
        class="max-h-[100px]"
        loading="lazy"
        decoding="async"
      />
    )
  }
</a>
